.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color:hsl(from color 0 0% 20%);
    margin: 10px;
    text-align: center;
    border-radius: 25%;
    border: 10px solid;
    background-color: royalblue;
}

.list-items li{
    font-size: 1.5em;
    text-decoration: solid;
    border: 1px solid ;
    word-spacing: normal;
    border-spacing: 1px;
    
}

.list-items li :hover{
    color: chartreuse;
    cursor: pointer;
}